.modal {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393939f3;
    width: 100%;
    height: 100%;
}

.modal>section {
    padding: 25px;
    margin: 10px;
    border-radius: 5px;
    background-color: #252525;
    width: 650px;
    height: 500px;
    max-height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal>section .content {
    max-height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal .buttons {
    display: flex;
    flex-direction: row-reverse;
}

.modal>section::-webkit-scrollbar {
    display: none;
}