button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    height: 40px;
    padding: 9px;
    &:hover {
        border: 1px solid #ffffff;
    }
    .anticon {
        font-size: 1.9rem;
        font-style: bold;
    }
    width: fit-content;
}