html {
    font-size: 62.5%;
}

.App {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.6rem;
}

body {
    background-color: #222222;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messages {
    display: flex;
    text-align: left;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.messages::-webkit-scrollbar {
    display: none;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message.blue {
    flex-direction: row-reverse;
}

.message-text {
    padding: 1px 20px 1px 10px;
    border-radius: 10px;
    width: fit-content;
    max-width: 60%;
}

.message-text * {
    padding-top: 3px;
    margin: 1px;
}

.message-text h6 {
    font-weight: bold;
    margin-bottom: 4px;
}

.message-text p {
    font-weight: 400;
    padding-bottom: 4px;
}

.green .message-text {
    background-color: #222222;
}

.blue .message-text {
    background-color: #3d7f6e;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    min-width: 400px;
    max-width: 800px;
    background-color: #4d4b4b;
    height: 700px;
    border-radius: 10px;
}

.room-page {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.room-page>* {
    flex: 1;
    height: 100%;
    background-color: #2c2c2c;
    margin: 5px;
    border-radius: 10px;
}

.room h3 {
    flex: 1;
}

.room button {
    border-radius: 0.3rem;
    padding: 2px 10px;
    margin: 5px;
    border: 0;
    font-size: 1.2rem;
    background-color: rgba(43, 52, 49, 0.845);
    color: #ffffff;
}

p {
    max-width: 500px;
    font-size: 1.2rem;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 100%;
}

.start button {
    background-color: #3d7f6e;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
}

.start input {
    background-color: #3f3f3fca;
    color: #ffffff;
    border: 0.3px solid transparent;
    padding: 5px 10px;
    border-radius: 0.3rem;
    margin: 5px;
    height: 40px;
    width: 100%;
    border-radius: 2px;
}

button:hover {
    background-color: rgb(66, 167, 133);
}

.send-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 50px;
}

.send-section button {
    width: 50px;
    border-radius: 5px;
    height: 100%;
    padding: 5px 10px;
    margin: 5px;
    border: 0;
    background-color: #3d7f6e;
}

.send-section input {
    flex: 1;
    height: 100%;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;
    border: 0;
    background-color: #3f3f3fca;
    color: #ffffff;
}

input:focus {
    border: 0.3px solid #3d7f6e;
    outline: none;
}

.info {
    width: 100%;
    background-color: #3f3f3fca;
    padding: 1.3rem 1.6rem;
    margin: 20px 5px;
    border-radius: 5px;
}

.info h2 {
    font-size: 1.3rem;
    font-weight: normal;
}