.block {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    max-width: 900px;
    min-width: 320px;
    overflow: hidden;
    position: initial;
    box-sizing: border-box;
    &.dark {
        color: #ffffff;
        // border-left: 0.3px solid #393939;
        // border-right: 0.3px solid #393939;
        box-shadow: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    &.sub {
        background: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        min-width: 100%;
        position: initial;
        .top-bar {
            margin-bottom: 0;
        }
    }
    .top-bar {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1%;
        button {
            min-width: fit-content;
            padding: 5px;
            margin: 3px;
            border-radius: 2px;
            font-size: 1rem;
        }
        h2 {
            padding: 0px 10px;
            margin: 0;
        }
        h1 {
            padding: 0px 10px;
            margin: 0;
        }
    }
}