.actions {
    max-height: fit-content;
    position: relative;
    .action {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        h3 {
            padding: 0 10px;
        }
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 4px;
            background-color: rgba(160, 160, 160, 0.16);
            border-radius: 10px;
            padding: 6px;
            flex: 1;
            min-width: fit-content;
            max-width: 250px;
            &.center {
                justify-content: space-between;
                margin: 0;
            }
            &.add {
                width: fit-content;
                flex: initial;
                background-color: rgba(160, 160, 160, 0.366);
            }
            &.major {
                .item {
                    margin: 0;
                    padding: 0;
                    background-color: transparent;
                }
                width: 100%;
                max-width: 100%;
                flex: initial;
                padding: 0;
                border: none;
            }
        }
    }
    >button {
        font-size: 1.3rem;
    }
}