.top-bar {
    button {
        width: 30px;
        max-height: 30px;
        text-align: center;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}