.spaces {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    button {
        width: 100%;
    }
    li {
        list-style-type: none;
        border: 1px solid transparent;
        border-radius: 3px;
        border-bottom: 1px solid #3f3f3fca;
        padding: 10px 15px;
        margin: 0px;
        font-size: 1.4rem;
        font-weight: 500;
        width: 100%;
        &:hover {
            border: 1px solid #b7b4b4ca;
        }
    }
}

button {
    height: fit-content;
    background-color: rgb(31, 61, 255);
    border: none;
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 100%;
}