.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    section {
        width: fit-content;
        display: flex;
        flex-direction: row;
        background-color: rgba(182, 180, 180, 0.141);
        border-radius: 4px;
        min-width: 300px;
        max-width: 100%;
        width: 200px;
        justify-content: space-between;
        padding: 10px;
        margin: 3px;
        h4 {
            font-size: 1rem;
            font-weight: normal;
        }
    }
    padding: 0;
    margin: 0;
    h3 {
        width: 100%;
        text-align: left;
        font-size: 1.3rem;
        padding: 0px;
    }
}