#call {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .video-list {
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding: 4px 0;
        margin: 0;
        width: 100%;
        background-color: rgb(210, 223, 254);
        height: fit-content;
        .video-container {
            border-radius: 3px;
            background-color: rgb(210, 223, 254);
            flex: 1;
            margin: 0 4px;
            padding: 0;
            overflow: hidden;
            height: inherit;
            video {
                width: 100%;
                height: 300px;
            }
        }
    }
}