.container {
    text-align: center;
}

.toggle-switch {
    position: relative;
    width: 50px;
    display: inline-block;
    text-align: left;
    top: 8px;
    height: 25px;
    border-radius: 10px;
}

.toggle-switch h4 {
    width: fit-content;
}

.toggle-switch div {
    position: absolute;
    border-radius: 10px;
    width: 30px;
    height: 100%;
    top: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in-out;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-weight: bold;
}

.toggle-switch div.ON {
    left: 100%;
    transform: translateX(-100%);
}