.space {
    justify-content: center;
    width: 100%;
    align-items: center;
}

.space button {
    border: none;
    padding: 10px 10px;
    margin: 40px 10px 10px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    max-width: 100%;
    width: 150px;
}

.space h1 {
    width: 100%;
}