button {
    margin: 5px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 100%;
}

.room-list {
    padding: 2%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    div {
        h3 {
            font-size: 1.4rem;
        }
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 5px;
        margin: 5px 0px;
        padding: 2px 15px;
        justify-content: space-between;
        background-color: #b9b9b985;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &:hover {
            border: 1px solid #ffffff73;
        }
    }
}

.multi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}