.messages {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
}

.messages::-webkit-scrollbar {
    display: none;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.message.right {
    flex-direction: row-reverse;
}

.message-text {
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
    width: fit-content;
    max-width: 60%;
    min-width: 80px;
    // box-shadow: 0px 2px 2px 1px;
}

.message-text * {
    padding-top: 3px;
    margin: 1px;
    color: #ffffff;
}

.message-text h6 {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 1rem;
}

.message-text p {
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 4px;
    max-width: 100%;
    white-space: pre-line;
    word-wrap: break-word;
}

.send-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 8px;
    border-radius: 3px;
    margin: 0;
    justify-content: center;
    align-self: center;
    background-color: none;
    border-radius: 10px;
}

.send-section div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    border-radius: 3px;
    margin: 0;
    justify-content: center;
    border-radius: 10px;
}

.send-section button {
    width: 40px;
    border-radius: 5px;
    height: 100%;
    padding: 5px;
    border-radius: 8px;
    border: 0;
    margin: 0;
    margin-left: 2px;
    font-weight: normal;
    font-size: 1.3rem;
}

.send-section textarea {
    flex: 1;
    height: 100%;
    border-radius: 8px;
    margin: 0 4px;
    color: inherit;
    background-color: transparent;
    border: 1px solid #7171716d;
    resize: none;
    font-family: inherit;
    &:focus {
        outline: none;
        border: none;
        border: 1px solid #717171b6;
    }
}

.messages-section {
    padding: 2px;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.action-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

label {
    font-size: 0.8rem;
    padding-left: 5px;
}