.messages {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
}

.messages::-webkit-scrollbar {
    display: none;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.message.right {
    flex-direction: row-reverse;
}

.message-text {
    padding: 4px 10px 4px 10px;
    border-radius: 8px;
    width: fit-content;
    max-width: 60%;
    min-width: 80px;
}

.message-text * {
    padding-top: 3px;
    margin: 1px;
}

.message-text h6 {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 1rem;
}

.message-text p {
    font-weight: 400;
    font-size: 1.5rem;
    padding-bottom: 4px;
    max-width: 100%;
    white-space: pre-line;
    word-wrap: break-word;
}

.send-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 5px 0px;
    margin: 0;
    justify-content: space-between;
    align-self: center;
}

.send-section button {
    width: 80px;
    border-radius: 5px;
    height: 100%;
    padding: 5px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
}

.send-section textarea {
    flex: 1;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 0;
    background-color: #cfcfcf49;
    color: #ffffff;
    resize: none;
    font-family: inherit;
}

.messages-section {
    padding: 2px;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}