.messages {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
}

.messages::-webkit-scrollbar {
    display: none;
}

.message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    .message-wrapper {
        box-sizing: border-box;
        padding: 4px 10px;
        width: fit-content;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-start;
        // box-shadow: 0px 2px 2px 1px;
        h6 {
            padding: 2px 10px;
            font-weight: lighter;
        }
    }
    .message-text {
        box-sizing: border-box;
        border-radius: 10px;
        width: fit-content;
        max-width: 650px;
        width: 85%;
        position: relative;
        margin: 0;
        background-color: rgb(242, 242, 242);
    }
}

.message.right {
    flex-direction: row-reverse;
    .message-wrapper {
        box-sizing: border-box;
        padding: 4px 10px;
        width: fit-content;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        // box-shadow: 0px 2px 2px 1px;
    }
    .message-text {
        box-sizing: border-box;
        border-radius: 10px;
        width: fit-content;
        max-width: 650px;
        width: 85%;
        position: relative;
        margin: 0;
        background-color: rgb(242, 242, 242);
    }
}

.message-text {
    box-sizing: border-box;
    border-radius: 5px;
    width: fit-content;
    max-width: 60%;
    min-width: 100px;
    position: relative;
    margin: 0;
}

.message-wrapper {
    box-sizing: border-box;
    padding: 4px 10px;
    width: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    position: relative;
    // box-shadow: 0px 2px 2px 1px;
}

.message-text * {
    padding-top: 3px;
    margin: 1px;
    color: #2d2d2d;
}

.message-wrapper h6 {
    width: fit-content;
    font-size: 9px;
    font-weight: 400;
    padding: 3px 1px;
    margin: 0;
    text-align: start;
}

.message-text p {
    font-weight: 400;
    font-size: 12px;
    padding: 4px 10px;
    max-width: 100%;
    white-space: pre-line;
    word-wrap: break-word;
}

.send-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 8px;
    border-radius: 3px;
    margin: 0;
    justify-content: center;
    align-self: center;
    background-color: none;
    border-radius: 10px;
}

.send-section div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    max-height: 50px;
    border-radius: 20px;
    margin: 0;
    justify-content: center;
    border: 1px solid transparent;
    padding: 0;
    background-color: #dddddd;
}

.send-section button {
    border-radius: inherit;
    padding: 10px;
    border: 0;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background: transparent;
}

.send-section textarea {
    flex: 1;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
    margin: 0 1px;
    padding: 3px 10px;
    color: inherit;
    background-color: transparent;
    border: none;
    resize: none;
    font-family: inherit;
    &:focus {
        outline: none;
        border: none;
    }
}

.messages-section {
    padding: 2px;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.action-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}