nav {
    width: 100vw;
    background-color: #2a8da8;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px 20px;
    align-items: center;
    height: 50px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
}

nav button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1.4rem;
}

main {
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    max-height: calc(100vh - 50px);
    flex-wrap: wrap;
}

.layout {
    background-color: rgb(17, 17, 17);
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
}