.form {
    display: flex;
    flex-direction: column;
}

.form div {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form div input {
    background-color: #3f3f3fca;
    color: #ffffff;
    border: 0.3px solid transparent;
    padding: 5px 10px;
    border-radius: 0.3rem;
    margin: 5px;
    height: 40px;
    width: 100px;
    border-radius: 2px;
}

.form div label {
    border: 1px solid #646363ca;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    min-width: 200px;
    max-width: 100%;
}

.form button {
    border: none;
    padding: 10px 50px;
    margin: 30px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
}

.themeBtn {
    display: flex;
    flex-direction: row;
    width: fit-content;
    display: relative;
    padding: 0;
}

.themeBtn div {
    width: 50%;
    height: 100%;
}

.theme-selector button {
    border-radius: 5px;
    width: 150px;
    height: 50px;
    padding: 2px;
    margin: 3px;
    border: 0;
    text-align: center;
    vertical-align: middle;
}

.theme-selector {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.theme-selector section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}